*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'fredoka', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.superiore{
    padding-top: 40px;
    text-align: center;
}

h1{
    color: rgb(219, 3, 93);
    font-size: 40px;
    margin-bottom: 40px;
}

.inferiore{
    padding-top: 40px;
}

.blocco{
    float: left;
    width: calc(100% / 3);
    padding: 20px;
    min-width: 350px;
}

.card{
    background-color: rgb(4, 2, 19);
    color: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

img,.descrizione{
    float: left;
}

img{
    width: 100px;
}

.descrizione{
    padding: 10px 15px;
}

h3, span{
    margin-bottom: 5px;
}

.professione{
    display: block;
    font-size: 1rem;
}

a{
    color: rgb(80, 211, 255);
    font-size: 1rem;
    text-decoration: none;
}